*{
    margin: 0;
    box-sizing: border-box;
}

.login-container{
    background-image: url('../images/background.jpg');
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family: sans-serif;
}


.form{
    width: 350px;
    min-height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 0px 20px 1px grey;
    padding: 20px;
}

#submit{
    margin-top: 40px;
    color: white;
    border: none;
    width: 100%;
    background-color: #0404fc;
    padding: 10px 10px;
    font-size: 15px;
}

#submit:hover{
    background-color: #0404db;
    cursor: pointer;
}

#title{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.credentials-inputs{
    all: unset;
    border: 2px solid black;
    width: 170px;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}



.input-container{
    text-align: center;
}


#warning{
    color: red;
    font-size: 14px;
    margin-top: 2px;
    font-weight: 600;
}

.input-container{
    width: 100%;
}

#wrong-credentials{
   border:1px solid red;
   padding: 15px;
   font-size: 14px;
   font-weight: 600;
   color: red;
   background-color: rgb(245, 203, 203);
}